html * {
    margin: 0px;
    max-width: 100%;
}

body {
    background-color: white;
        width: 1400px;
    }

#logotipo {
    /* LARGURA DO LOGOTIPO */
    width: 140px;
    /* MARGEM DO LOGOTIPO */
        object-fit: cover;
        margin: 5px;
        text-align: center;
    }

#menu {
    background-color: #141679;
    margin-bottom: 100px;
    border-top: 10px solid #7faad3;
    border-bottom: 10px solid #7faad3;
    padding: 10px;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

#menu a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    text-align: center;
    }

#menu a:hover{
    color: crimson;
    background-color: saddlebrown;
}

.principal {
    /* ATIVAR O MODO GRID (LINHAS E COLUNAS) */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* ESPAÇAMENTO ENTRE COLUNAS E LINHAS DO GRID */
    gap: 10px;
}

.item {
    /* COR DE FUNDO */
    background-color: #141679;
    /* FONTE */
    font-family: sans-serif;
    /* LETRAS MAIÚSCULAS */
    text-transform: uppercase;
    /* MARGEM */
    margin: 20px;
    /* COR DA FONTE */
    color: white;
    /* BORDA SUPERIOR */
    border-top:10px solid #7faad3;
    /* BORDAS ARREDONDADAS */
    border-radius: 1%;
    /* TEXTO CENTRALIZADO */
    text-align: center;
}

.rodape {
    background-color: #fae988;
    height: 30px;

    /* HABILITAR O MODO DE LINHAS E COLUNAS */
    display: grid;
    /* ALINHAR NA HORIZONTAL */
    justify-content: center;
    /* ALINHAR NA VERTICAL */
    align-items: center;
}